#thong-bao{
    .toast{
        width: 350px;
        display: block;
        top: 50px;
        right: 17px; 
        bottom: unset; 
        left: unset; 
        transform: unset;
        position: fixed;
        margin-top: 20px;
        border: none;
    }
}