.container-s{
    .forms-container-s{
        align-items: center;
        padding: 0rem 5rem;
        overflow: hidden;
        .signin-signup{
            .btn{
                text-transform: none!important;
            
               img{
                   height: 4.5rem;
               } 
            }
        }
    }
}
.border-purple{
    border: #9561e2; 
}